﻿{% extends parent %}
{% block content %}
<div class="fancybox_form_bg" style="display:none;"></div>
<div  id="fancybox_form">
  <p>Чтобы получить доступ к материалам Форума, Вам необходимо зарегистрироваться. 
  Заполните эту форму и на указанный вами e-mail придет ссылка, по которой вы получите доступ к презентациям.</p>
  {% form %}
    <div class="form showlink">
        <label>{{login.title}}</label>
        {{login}}
        {{login.error}}
        <label>{{email.title}}</label>
        {{email}}
        {{email.error}}
        <label>{{password.title}}</label>
        {{password}}
        {{password.error}}
		</div>
    <label>{{agree.title}}</label>
    {{agree}}
    <label>{{mysel.title}}</label>
    {{mysel}}
    <div>
        <label>{{message.title}}</label>
        {{message}}
        {{message.error}}
    </div>
    {% for key, item in mysel.values %}
        {% if key > 1 and key != '' or item %}
           Это селект
        {% endif %}
        <b>{{key}}</b> => {{item.title}}<br />
    {% endfor %}
{% endblock %}

{% block footer %}
    <div class="butsub">
      {{submit}}
    </div>
  {% endform %}
</div>
{% endblock %}