<div class="fancybox_form_bg" style="display:none;"></div>
<div style="display:none;" id="fancybox_form">
    <p>Чтобы получить доступ к материалам Форума, Вам необходимо зарегистрироваться.
        Заполните эту форму и на указанный вами e-mail придет ссылка, по которой вы получите доступ к презентациям.</p>
    {{express.bootstrap}}
</div>