<div>Это родительский шаблон...</div>

<p> Тут какой то текст, после которого мы добавим блок для вставки</p>
{% block content %}{% endblock %}

<p>Тут еще какой то текст, и после него еще один блок для вставки</p>
{% block footer %}{% endblock %}